{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block title %}About us{% endblock %}

{% block content %}

<div data-controller="about"></div>
<h2>About us</h2>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, atque cumque cupiditate deserunt dignissimos dolor eum ex exercitationem facere fugiat ipsum, minima optio quidem recusandae sint soluta totam ullam.

</div>
{% endblock %}
