{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
    #}
    
    {% extends 'layouts/application.html' %}
    
    {% block title %}Kayıt Sayfası{% endblock %}
    
    {% block content %}
    
<div data-controller = "signup">
    <div class="form-area">
        <form action="" id="formSignup" novalidate>
            <div class="form-group">
                <label for = "email" id="label" >Email</label>
                <br>
                <input type = "email" class="form-control" id="email"  data-error = "false" data-title = "Email" required>                 
            </div>     

            <div class="form-group">
                <label class = "signup" for  = "password" id="label" >Şifre:</label>   
                <i id="pwdIcon" class="far fa-angry popup">
                    <span class="popuptext" id="pwdInfo">
                        <small class = "small-error" id = "lovercase"> - Şifre en az 1 küçük harf içermeli. </small>        
                        <small class = "small-error" id = "uppercase"><br> - Şifre en az 1 Büyük harf içermeli. </small>
                        <small class = "small-error" id = "numbers"><br> - Şifre en az 1 Sayı içermeli. </small>
                        <small class = "small-error" id = "pwdLength"><br>-  Şifre en az 8 karakter olmalı. </small>
                    </span>
                </i>
                <br>             
                <input type = "password" class="form-control " id="password"  data-error = "false" data-title = "Şifre" required> 
            </div>

            <div class="form-group signup">
                <label for  = "passwordMatch" id="label" >Şifre Tekrar:</label>
                <br>
                <input type = "password" class="form-control popup" id="passwordMatch" data-error = "false" data-title = "Şifre">
            </div>
            <button type="submit" id = "signup" class="btn btn-success tr">Kayıt ol</button>
        </form>
    </div>
</div>

    {% endblock %}