
@import "home.scss";

body {
  
}

header {

}


footer {
 
}
[data-controller=home] {
  input{
      border-radius: 4px;
      height: 12px;
      font-size: 12px;
      padding: 3px 5px;
  }
  .btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;    
  }
  .btn-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top:2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

}

