  body{
      background: #fff;
      background-image:none;
    }
[data-controller = home ]{
    .search-bar{
        background:yellow;
        width:1000px;
        height:80px;
        margin-right:auto;
        margin-left:auto;
    }
    .inner{
        background:#ab0012;
    }
    .highlight{
        background-color: #eff0f2;
        min-height: 100px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right center;
        background-attachment: fixed;
        padding-top: 8px;
        top: -4px;
    }
    .container{
        display:flex;
        flex-wrap:wrap;       
        margin-left:auto;
        margin-right:auto;
        width:1000px;
    }
    .column-left{
        background:blue;
        height:400px;        
        top:0;
        position: -webkit-sticky;
        position:sticky;         
    }

    .column-right{
      background: red;      
      height:5000px;       
    }
    .col-md-4{
        width:25%;
    }
    .col-md-12{
        width:75%;
    }
    
    #city-search-wrapper,#area-search-wrapper{
        background-image:url('/path/to/your/sprite.gif');
        width:auto;
        height:25px;
        position:relative;
    }
    #city-search-field,.area-search-field{
      width:137px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    #city-search-button,#area-search-button {
        position:absolute;
        top:0;
        right:0;
        height:22px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      background:#ff7208;
        border: none;
        
    }
     
      label{
        margin-left: auto;
        color:#fff;
        font-weight: 400;
        line-height: 1.42857143;
        font-size: 14px;
      }
      .seperate{   
      text-align:center;
      color:#fff;
      }

      input{
          border-radius: 4px;
          height: 12px;
          width: 94%;
          font-size: 12px;
          padding: 3px 3px;   
          margin-bottom:5px;  
        
      }
      .btn-success{
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;    
      }
      .btn-primary{
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
      }
      .error{
        border-color: #a94442;
      }
      .noError{
        border-color: green;    
      }
      .small-error{
        color:#a94442
      }
      .small-noError{
        color: #4cae4c
      }
      .btn{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 10px;
        margin-top:10px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
      }

      .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: white;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
      
    }
    i{
      float:right;
      position:absolute;
    }
    .fa-angry{
      color:red;
    }
    .fa-smile{
      color: #4cae4c;
    }

    .signup{
      display: none;
    }

    /* Popup arrow */
    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    .inner-addon {
      position: relative;
    }

    /* style glyph */
    .glyphicon {
      position: absolute;
      padding: 5px;
    }



    /* align glyph */
    .right-addon .glyphicon { right: 0px;}

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }
    #areas{
      max-width:200px;
      overflow:auto;
    }
}
