body.main-layout{
    background: #fff;
    background-image:none;
  }
.main-layout {
    
    //error styles ==========================================
    #ysUserName{
          display: block;
          float: left;
          color: #ff6508;
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
          max-width: 135px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          text-decoration: none;
          margin-top: 14px;
          margin-right: 77px;
      }
      .ys-profile-picture{
        width: 40px;
        height: 40px;
        border: 1px solid #d5d5d5;
        border-radius:5px;
      }
     
      .ys-userInfo{
        padding: 7px 8px;
        background-color: #eff0f2;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        height:40px;
        cursor: pointer;
      }
.error {
    border-color: #a94442;
  }
  
  .noError {
    border-color: green;    
  }
  
  .small-error {
    color:#a94442;
    font-size:12px;
  }
  
  .small-noError {
    color: #4cae4c
  }
  .small-error.popupInfo{
    font-size:15px;
  }
  .signup{
      display:none
  }
  //========================================================
    //basket styles========================================
    .location{
        background-color: #ffd55a;
        padding: 7px 11px;
        display: block;
    }
    a.restaurantInfo{
        color: #ff6508 !important;
        cursor:pointer;
        text-decoration: underline !important;
    }
    .sepeti-onayla{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 9px;
        width: 92%;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #feba36;
        border: 1px solid #feb11d;
    }
    .basketMessage{
        font-size:12px;
        margin: 3px 0;
        text-align: center;
        display:block;
    }
    tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    tr{
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        border-bottom:1px solid #f3f3f3;
    }
  
   
    td.item-name{
        padding: 8px 6px;
        width: 54%;
    }
    input.txtCount{
        width:20px;
        text-align: center;
        padding: 1px 2px;
    }
    .item-actions{
        width: 8%;
        padding-left: 8px;
    }
    .item-price{
        font-size:11px;
        width: 23%;
        text-align: right;
    }
    tr{
        display: table-row;
    }
    .item-name{
        padding: 8px 6px;
        width: 54%;
        font-size:12px;
    }
    .item-count{
        width: 8%;
    }
    .items{
        height:220px;
    }
    .itemList{
        max-height: 300px;
        overflow-y: auto;
    }
    .ys-pullLeft{
        float:left;
    }
    .ys-pullRight{
        float:right;
    }
    .fa-times{
        color:red;
       
    }
    .total{
        padding: 17px 8px;
        border: 1px solid #e5e5e5;
    }
    .totalPrice,.textTotal{
        margin-top:-7px;
        height: 18px;
        font-weight: 700;
        font-size: 13px;
    }
    .totlaPrice{
       

    }
    .rmv-basket{
        background-color: transparent;
        border:none;       
        cursor:pointer;
    }
    .user-basket{
        -webkit-transition: max-height ease-in-out 1s;
        -o-transition: max-height ease-in-out 1s;
        transition: max-height ease-in-out 1s;
        border:2px solid #dadada;
        background: #fff;
        border-radius:6px;
        max-height: 600px;
      }
      .basket-header{
        padding: 10px 11px;
        background-color: #ac000b;
        border-radius:3px 3px 0px 0px;
        color: #fff;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        line-height: 15px; 
      }

      ::-webkit-scrollbar {
        width: 9px;
        
    }
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
     
    ::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius:10px;
    }
    .emptyBasket{
        float:right;
    }
    .no-item{
        display:block;
    }
    .exists{
        display:none;
    }
    
    .fa-shopping-basket{
        font-size: 60px;
        opacity: 0.2;
    }
    .no-item span{
        top: -10px;
        left: 15px;
        font-size:12px;
        font-weight: bold;
        position:relative;
    }
    
    /* Popup container - can be anything you want */
    .emptyBasket {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The actual popup */
    .emptyBasket .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

    /* Popup arrow */
    .emptyBasket .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .emptyBasket .show {
        visibility: visible;
        -webkit-animation: fadeIn 0.2s;
        animation: fadeIn 0.2s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }
    //===================================================
   
   .slideUp {
        opacity: 0 !important;
        -moz-transition: opacity 0.4s ease-in-out !important;
        -o-transition: opacity 0.4s ease-in-out  !important;
        -webkit-transition: opacity 0.4s ease-in-out !important;
        transition: opacity 0.4s ease-in-out !important;
    }
    
      
    //login box styles ====================================
    .login{
        margin-top:20px;
        margin-right:30px;
        margin-left:30px;
    }
    label ,.seperate{
        color:black;
        font-weight:bold;
    }
    input{
        border-radius:3px;
        border:1px solid #f3f3f3;
        background-clip: padding-box;
        background-color: #fff;
        box-shadow: 0 -1px 0 rgba(51,51,51,0.2);
    }
    //=====================================================
    
   
    #sticky-bar{
        position:sticky;
        position:-webkit-sticky;    
        top:0;
        margin-bottom:2px;
        z-index:1;
    }
    .inner{
        background:#ab0012;
        height:80px;
    }
    
    .search-bar{    
        background:#ab0012;
        width:1000px;
        height:55px;
        margin-right:auto;
        margin-left:auto;        
    }
  
    .inner{  
        background:#ab0012;
        box-shadow: -3px 3px 0px 1px rgba(130, 130, 130, 0.1);
    }

    .highlight{
        background-color: #eff0f2;
        min-height: 100px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right center;
        background-attachment: fixed;
        padding-top: 8px;
        top: -4px;
    }

    .container{
        display:flex;
        flex-wrap:wrap;       
        margin-left:auto;
        margin-right:auto;
        width:1000px;
        min-width:1000px;
    }

    .column-left{
        background:#fff;
        height:400px;        
        top:100px;
        
        position: -webkit-sticky;
        position:sticky;     
        border-radius:3px;    
    }

    .logo{
        display: inline-block;
        width: 157px;
        height: 155px;
        background: url(../Images/logo.png?v=1530878576856?v=1530878576856) no-repeat center;
        position: absolute;
        top:-59px;
        transition: top .4s, opacity .4s;
        opacity: 1;
        z-index: 1;
        border-radius: 50%;
        margin-left:37px;
    }
    .logo2{
        margin-left:20px;
    }

    a{
        -webkit-any-link:active {
            color: -webkit-activelink;
        }
    }

    a:-webkit-any-link {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
    
    a:hover{
        color:#ff6508;;
    }

    .column-right{
        background: #fff;      
        
    }

    .col-md-4{
        width:25%;
        
    }

    .col-md-12{
        width: calc(75% - 15px);
        margin-left:10px;
    }


    
    #city-search-wrapper,#area-search-wrapper{
        background-image:url('/path/to/your/sprite.gif');
        width:auto;
        height:25px;
        display:inline-block;
        position:relative;
        margin-left:60px;
        top:-13px;
    }
    #ys-logo-2{
        margin-top:3px;
    }
    #city-search-field,.area-search-field{
        width:177px;
        padding-left:15px;
        display:inline-block;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height:28px;
        margin-right:auto;
    }

    #city-search-button,#area-search-button {
        position:absolute;       
        height:28px;
        width:39px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background:#ff7208;
        border: none;
        
    }

    select {
        -webkit-appearance: none;
        width:20px;
        display:inline-block;
        overflow: hidden;
    }

[data-controller = home ] {
    .head{
        display:flex;
        flex-wrap:wrap; 
        margin: 0 5px;
        font-size:15;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }
    .minimumDeliveryPrice{
      color: #707070;
      font-size: 12px;
      top: 1px;
      position: relative;
      cursor: default;
      font-weight: 600;
      margin-left: 5px;
    }
    .res-item{
      margin-top: 14px;
    }
    .ys-invert{
      border-radius: 4px;
      background:#a5c530;
      font-weight: 700;
      color:#fff;
      padding: 1px 5px;
    }
    .point{
        color: #ffffff;
        min-width: 31px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin: 0 5px;
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 5px;
    }
    .res-count{
      position: relative;
      text-align: center;
      margin-bottom: 22px;
      margin-top: 20px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      z-index: 1;
    }
    
    b{
      background: #fff; 
      padding: 0 10px; 
    }

    p{
      position: relative;
      z-index: 1;      
      &:before {
          border-top: 2px solid #dfdfdf;
          content:"";
          margin: 0 auto; /* this centers the line to the full width specified */
          position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
          top: 50%; left: 0; right: 0; bottom: 0;
          width: 95%;
          z-index: -1;
      }
    } 
    
  }

  .top{
    background-color: #eff0f2;
    width:auto;
    height:55px;
  }


}