body.main-layout{
    background: #fff;
    background-image:none;
  }
      //modal styles ==========================================

      body {font-family: Arial, Helvetica, sans-serif;}
     
      /* The Modal (background) */
      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 2; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top:55;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content */
        .modal-content {
            border:none;
            position: relative;
            background-color: #fefefe;
            margin: auto;
            top:2%;
            padding: 0;
            
            width: 27%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;
        } 
     
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:2%; opacity:1}
        }
        
        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:2%; opacity:1}
        }
        

      
      
      
      /* The Close Button */
      .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }
      .modal-header{
          height:30px;
          border-radius: 5px 5px 0px 0px;
      }
      .modal-content{
        border-radius: 5px;
      }
      
    .modal-header.noError {
        padding: 2px 16px;
        background-color: #5cb85c;
        
    }
    .modal-header.error{
        padding: 2px 16px;
        background-color:red;
    }
      
      .modal-body {
        padding: 14px 16px;
        min-height: 85px;
        overflow:auto;
        text-align:center;        
    }
      .modal-error{
        display:block;
        margin-top:5%;
        font-weight:700;        
      }

      .totalValue{
          border:none;
         
      }
      .tdTotalValues{
          
      }
    
       // glow effect ==========================================
      .glow{
       
      
        outline: none;        
        -webkit-animation: pusate 0.3s 2 forwards;
        -moz-animation: pusate 0.3s 2 forwards;
        -animation: pusate 0.3s 2 forwards;
        text-shadow: 0 0 8px #ccc;
      }

        @-webkit-keyframes pusate {
            from { box-shadow: 0 0 10px #333; }
            to { box-shadow: 0 0 20px #c00; }
        }
        @-moz-keyframes pusate {
            from { box-shadow: 0 0 10px #333; }
            to { box-shadow: 0 0 20px #c00; }
        }
        @keyframes pusate {
            from { box-shadow: 0 0 10px #333; }
            to { box-shadow: 0 0 20px #c00; }
        }
        #address-details{
           
            label{
                font-family: Verdana, Geneva, sans-serif;
                float:left;
                font-size:11px;  
                font-weight:3px !important;  
                margin-left:5px;
            }
            .row{
                margin-left:5px;
            }
            .col-md-6{
               margin-left:25%;

            }
            .col-md-10{
                width: 62.5%;
                position: relative;
                min-height: 1px;
                padding-left: 6px;
                padding-right: 6px;
            }
            .form-group{
                margin-bottom:5px;
            }
            .address-type label{
                display: inline;
                margin-left: 5px;                
            }
            .address-type {
                float: left;
                clear: none;
                margin-left: 26%;
                margin-bottom: 14px;
                input{
                    float: left;
                    clear: none;
                    margin: 2px 0 0 2px;
                }
            }
              
            label {
                float: left;
                clear: none;
                display: block;
                padding: 2px 1em 0 0;
            }
              
            
        }
        .addAddress{
            .modal-content{
               width: 550px;
            }
            textarea{
                border-radius:4px;
            }
            select{
                width: 43%;
                height: 25px;
                border-radius: 4px;
            }
            .close{
                color:black;
                font-size:16px;
            }
            .save-button{
                color: #fff;
                background-color: #5cb85c;
                border:0px;
                border-radius:4px;
                cursor:pointer;
                float:right;
            }
        }
      // =======================================================

      .Sepeti-Onayla-Modal{
        color: #fff;
        background-color: #5cb85c;
        border-radius:4px;
        border: 1px solid transparent;
        float:right;
      }
      h1.thanks ,h2.thanks{
        color: #fff;
        font-size:22px;
      }
     
      .highlight.thanks{
        background:#4CAF50 !important;
        text-align: center !important;
      }
      .fa-check-circle{
          color: #fff;
          font-size:35px;
      }
      //=======================================================
.main-layout {
   
    [data-controller = userSettings ] {
        
        body {
            font: 18px/1.5 sans-serif;
            padding: 1rem;
          }
          
          dt {
            font-weight: bold;
          }
          
          dl {
            margin-bottom: 50px;
          }
          
          #bug:target {
            outline: 4px solid #ccc;
          }
          
          /**
           * tab panel widget
           */
          .tabPanel-widget {
            position: relative;  /* containing block for headings (top:0) */
            background: #999;
          }
          
          /**
           * because labels come first in source order - we use z-index to move them in front of the headings
           */
          .tabPanel-widget > label {
            position: absolute;
            z-index: 1;
          }
          
          /**
           * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
           * line-height == height -> vertical centering
           * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
           * note that width and offset of label/heading pair can be customized if necessary
           */
          
          .tabPanel-widget > label,
          .tabPanel-widget > h2 {
            font-size: 1.1em;
            width: 9em;
            height: 2em;
            line-height: 2em;
          }
          
          /**
           * position:relative is for the markers (the down arrow in tabs)
           */
          .tabPanel-widget > h2 {
            position: relative;
            margin: 0;
            text-align: center;
            background: #999;
            color: #fff;
          }
          
          .tabPanel-widget > label {
            border-right: 1px solid #fff;  
          }
          
          /**
           * all first level labels and headings after the very first ones 
           */
          .tabPanel-widget input,
          .tabPanel-widget > label ~ label,
          .tabPanel-widget > h2 ~ h2 {
            position: absolute;
            top: 0;
          }
          
          
          /**
           * We target all the label/heading pairs
           * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
           */
          
          .tabPanel-widget label:nth-child(1),
          .tabPanel-widget h2:nth-child(3) {
            left: 0em;
          }
          
          .tabPanel-widget label:nth-child(5),
          .tabPanel-widget h2:nth-child(7) {
            left: 9em;
          }
          
          .tabPanel-widget label:nth-child(9),
          .tabPanel-widget h2:nth-child(11) {
            left: 18em;
          }
          
          /**
           * we visually hide all the panels
           * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
           */
          .tabPanel-widget input + h2 + div {
            position: absolute !important;
            clip: rect(1px, 1px, 1px, 1px);
            padding:0 !important;
            border:0 !important;
            height: 1px !important; 
            width: 1px !important; 
            overflow: hidden;
          }
          /**
           * we reveal a panel depending on which control is selected 
           */
          .tabPanel-widget input:checked + h2 + div {
            position: static !important;
            padding: 1em !important;
            height: auto !important; 
            width: auto !important; 
          }
          
          /**
           * shows a hand cursor only to pointing device users
           */
          .tabPanel-widget label:hover {
            cursor: pointer;
          }
          
          .tabPanel-widget > div {
            background: #f0f0f0;
            padding: 1em;
          }
          
          /**
           * we hide radio buttons and also remove them from the flow
           */
          .tabPanel-widget input[name="tabs"] {
            opacity: 0;
            position: absolute;
          }
          
          
          /** 
           * this is to style the tabs when they get focus (visual cue)
           */
          
          .tabPanel-widget input[name="tabs"]:focus + h2 {
            outline: 1px dotted #000;
            outline-offset: 10px;
          }
          
          
          /**
           * reset of the above within the tab panel (for pointing-device users)
           */
          .tabPanel-widget:hover h2 {
            outline: none !important;
          }
          
          /**
           * visual cue of the selection
           */
          .tabPanel-widget input[name="tabs"]:checked + h2 {
            background: #333;
          }
          
          /**
           * the marker for tabs (down arrow)
           */
          
          
          /**
           * Make it plain/simple below 45em (stack everything)
           */
          @media screen and (max-width: 45em) {
            
            /* hide unecessary label/control pairs */
            .tabPanel-widget label,
            .tabPanel-widget input[name="tabs"] {
              display: none;
            }
            
            /* reveal all panels */
            .tabPanel-widget > input + h2 + div {
              display: block !important;
              position: static !important;
              padding: 1em !important;
              height: auto !important; 
              width: auto !important; 
            }
            
            /* "unstyle" the heading */
            .tabPanel-widget h2 {
              width: auto;
              position: static !important;
              background: #999 !important;
            }
            
            /* "kill" the marker */
            .tabPanel-widget h2:after {
              display: none !important;
            }
            
          
        }
       
       
        .add-new-address{
            margin-left: 35%;
            margin-top: 15px;
        }
        .no-address.notAvailable{
            min-height:150px;
            display:none;
        }
        .icon{
            margin-left:15%;
            display:inline-block;
        }
        .fas.fa-map-marker-alt {            
            font-size:140px;
            color :#ab0012;
        }
        p{
            
            margin-left: 35%;
            margin-top: -84px;
        }
       
      
    }
   

 

    //error styles ==========================================
    #ysUserName{
          display: block;
          float: left;
          color: #ff6508;
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
          max-width: 135px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          text-decoration: none;
          margin-top: 14px;
          margin-right: 77px;
      }
      .ys-profile-picture{
        width: 40px;
        height: 40px;
        border: 1px solid #d5d5d5;
        border-radius:5px;
      }
     
      .ys-userInfo{
        padding: 7px 8px;
        background-color: #eff0f2;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        height:40px;
        cursor: pointer;
      }

      //accordion userSettings=====================
      .ys-userSettings {
            /* css animation */
            overflow: hidden;
            padding: 0 1em;
            max-height: 0;
            opacity: 0;
        
            /* add browser prefixes */
            transition: all 0.3s ease;
        }
    
        .content-open {
            max-height: 500px;
            opacity: 1;
            padding: 15px 20px;
        }
        .accordion-trigger{
            border:none;        
            background:transparent;
            margin-top:-14px;
            cursor:pointer;
        }
      //===========================================

      // User panel styles ========================
  
      //===========================================

    .error {
    
    box-shadow: 0 0 5px #ab0012;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ab0012;
  }
  
  .noError {
    border-color: green;    
  }
  
  .small-error {
    color:#a94442;
    font-size:12px;
  }
  
  .small-noError {
    color: #4cae4c
  }
  .small-error.popupInfo{
    font-size:15px;
  }
  .signup{
      display:none
  }
  //========================================================
  
    //basket styles========================================
    .location{
        background-color: #ffd55a;
        padding: 7px 11px;
        display: block;
    }
    a.restaurantInfo{
        display:block;
        line-height: 1.42857;
        color: #ff6508 !important;
        cursor:pointer;
        text-decoration: underline !important;
    }
    .sepeti-onayla{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 9px;
        width: 92%;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #feba36;
        border: 1px solid #feb11d;
    }
    .basketMessage{
        font-size:12px;
        margin: 3px 0;
        text-align: center;
        display:block;
    }
    tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    tr{
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;       
    }
  
   
    td.item-name{
        padding: 8px 6px;
        width: 54%;
    }
    input.txtCount,.modal-item-count{
        width:20px;
        text-align: center;
        padding: 1px 2px;
        border-radius:3px;
    }
    .item-actions{
        width: 8%;
        padding-left: 8px;
    }
    .item-price{
        font-size:11px;
        width: 23%;
        text-align: right;
    }
    tr{
        display: table-row;
    }
    .item-name{
        padding: 8px 6px;
        width: 54%;
        font-size:12px;
    }
    .item-count{
        width: 8%;
    }
    .items{
        height:220px;
    }
    .itemList{
        max-height: 300px;
        overflow-y: auto;
    }
    .ys-pullLeft{
        float:left;
    }
    .ys-pullRight{
        float:right;
    }
    .fa-times{
        color:red;
       
    }
    .total{
        padding: 17px 8px;
        border: 1px solid #e5e5e5;
    }
    .totalPrice,.textTotal{
        margin-top:-7px;
        height: 18px;
        font-weight: 700;
        font-size: 13px;
    }
    .totlaPrice{
       

    }
    .rmv-basket{
        background-color: transparent;
        border:none;       
        cursor:pointer;
    }
    .user-basket{
        -webkit-transition: max-height ease-in-out 1s;
        -o-transition: max-height ease-in-out 1s;
        transition: max-height ease-in-out 1s;
        border:2px solid #dadada;
        background: #fff;
        border-radius:6px;
        max-height: 600px;
      }
      .basket-header{
        padding: 10px 11px;
        background-color: #ac000b;
        border-radius:3px 3px 0px 0px;
        color: #fff;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        line-height: 15px; 
      }

      ::-webkit-scrollbar {
        width: 9px;
        
    }
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
     
    ::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius:10px;
    }
    .emptyBasket{
        float:right;
    }
    .no-item{
        display:block;
    }
    .exists{
        display:none;
    }
    
    .fa-shopping-basket{
        font-size: 50px;
        opacity: 0.2;
        margin: 9px;
    }
    .no-item span{
        top: -10px;
        left: 3px;
        font-size:12px;
        font-weight: bold;
        position:relative;
    }
    
    /* Popup container - can be anything you want */
    .emptyBasket {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The actual popup */
    .emptyBasket .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

    /* Popup arrow */
    .emptyBasket .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .emptyBasket .show {
        visibility: visible;
        -webkit-animation: fadeIn 0.2s;
        animation: fadeIn 0.2s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }
    //===================================================
   
   .slideUp {
        opacity: 0 !important;
        -moz-transition: opacity 0.4s ease-in-out !important;
        -o-transition: opacity 0.4s ease-in-out  !important;
        -webkit-transition: opacity 0.4s ease-in-out !important;
        transition: opacity 0.4s ease-in-out !important;
    }
    
      
    //login box styles ====================================
    .login{
        margin-top:20px;
        margin-right:30px;
        margin-left:30px;
    }
    label ,.seperate{
        color:black;
        font-weight:bold;
    }
    input{   
        box-shadow: 0 -1px 0 rgba(51,51,51,0.2);
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;  
        border-radius:4px;      
    }
    input:focus{
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
       
        border: 1px solid rgba(81, 203, 238, 1);
    }
    
    //=====================================================
    
   
    #sticky-bar{
        position:sticky;
        position:-webkit-sticky;    
        top:0;
        margin-bottom:2px;
        z-index:1;
    }
    .inner{
        background:#ab0012;
        height:80px;
    }
    .ys-h2{
        margin-left: 0%;
        font-size: 23px;
        margin-top: 40px;
        margin-bottom: -85px;
        display:block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        width:1000px;
        
    }
    
    .search-bar{    
        background:#ab0012;
        width:1000px;
        height:55px;
        margin-right:auto;
        margin-left:auto;        
    }
  
    .inner{  
        background:#ab0012;
        box-shadow: -3px 3px 0px 1px rgba(130, 130, 130, 0.1);
    }

    .highlight{
        background-color: #eff0f2;
        min-height: 100px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right center;
        background-attachment: fixed;
        padding-top: 8px;
        top: -4px;
    }

    .container{
        display:flex;
        flex-wrap:wrap;       
        margin-left:auto;
        margin-right:auto;
        width:1000px;
        min-width:1000px;
    }

    .column-left{
        background:#fff;
        height:400px;        
        top:100px;
        
        position: -webkit-sticky;
        position:sticky;     
        border-radius:3px;    
    }

    .logo{
        display: inline-block;
        width: 157px;
        height: 155px;
        background: url(../Images/logo.png?v=1530878576856?v=1530878576856) no-repeat center;
        position: absolute;
        top:-43px;
        transition: top .4s, opacity .4s;
        opacity: 1;
        z-index: 1;
        border-radius: 50%;
        margin-left:37px;
    }
    .logo2{
        margin-left:20px;
    }

    a{
        -webkit-any-link:active {
            color: -webkit-activelink;
        }
    }

    a:-webkit-any-link {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
    
    a:hover{
        color:#ff6508;;
    }

    .column-right{
        background: #fff;      
        
    }

    .col-md-4{
        width:25%;
        
    }

    .col-md-12{
        width: calc(75% - 15px);
        margin-left:10px;
    }
    .col-16-3{
        width:25%;
        padding-left: 6px;
        padding-right: 6px;
        float: left;
        position: relative;
        min-height: 1px;
    }
    .col-16-9{
        padding-left: 6px;
        padding-right: 6px;
        float: left;
        position: relative;
        min-height: 1px;
    }


    
    #city-search-wrapper{
        width:auto;
        height:25px;
        display:inline-block;
        position:relative;
        margin-left:60px;
        top:-13px;
    }
    #ys-logo{
        cursor:pointer
    }
    #ys-logo-2{
        cursor:pointer;
        margin-top:3px;
    }
    #city-search-field{
        width:177px;
        padding-left:15px;
        display:inline-block;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height:28px;
        margin-right:auto;
    }

    #city-search-button,#area-search-button{
        display:inline-block;         
        height:28px;
        width:39px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background:#ff7208;
        border: none;  
    }
    #area-search-button{
        display:flex;
        margin-left:-4px;
        text-align:center;
    }
    #area-search-button.fa-search{
        padding-left:13px;
    }
    #area-search-wrapper{
       margin-bottom:10px;
       width:300px;
       margin-left:35%;
       display:flex;
       position:relative;
       top:-31px;
    }
    .area-search-field{  
        display:flex;    
        height:28px; 
        width:188px;       
        border-radius: 4px 0px 0px 4px;
        padding: 0px 9px;
    }

    #area-search-wrapper select {        
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance : none;
        -ms-appearance:none;
        appearance:none;       
        display:block;     
        overflow-x:auto;  
    }
    
    #area-search-wrapper:before {
        
        content:'';
        top:0;
        right:0;
    }
    .ys-panel {
        border: 5px solid #eff0f2;
        margin-bottom: 12px;
      
        border-radius:4px;
    }
    .ys-SavedAddress{
        overflow: auto;
        height: 146px;
        padding-top: 5px;
        padding-bottom: 0;
        
    }
    .ys-panel.ys-pnlUserBar{
        height: 222px;
        min-height: 222px;
        border-bottom: 35px solid #eff0f2;
    }

[data-controller = home ] {
    .head{
        display:flex;
        flex-wrap:wrap; 
        margin: 0 5px;
        font-size:15;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }
    .minimumDeliveryPrice{
      color: #707070;
      font-size: 12px;
      top: 1px;
      position: relative;
      cursor: default;
      font-weight: 600;
      margin-left: 5px;
    }
    .res-item{
      margin-top: 14px;
    }
    .ys-invert{
      border-radius: 4px;
      background:#a5c530;
      font-weight: 700;
      color:#fff;
      padding: 1px 5px;
    }
    .point{
        color: #ffffff;
        min-width: 31px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        margin: 0 5px;
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 5px;
        padding: 2px;
    }
    .res-count{
      position: relative;
      text-align: center;
      margin-bottom: 22px;
      margin-top: 20px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      z-index: 0;
    }
    
    b{
      background: #fff; 
      padding: 0 10px; 
    }

    p{
      position: relative;
      z-index: 1;      
      &:before {
          border-top: 2px solid #dfdfdf;
          content:"";
          margin: 0 auto; /* this centers the line to the full width specified */
          position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
          top: 50%; left: 0; right: 0; bottom: 0;
          width: 95%;
          z-index: -1;
      }
    } 
    
  }

  .top{
    background-color: #eff0f2;
    width:auto;
    height:55px;
  }


}