<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/app.css">
    
    {% block head %}{% endblock %}
  </head>
  <body class="main-layout">
        
    <header>
   
            
      
    </header>
    <div class="top" ></div>
    <div id="sticky-bar">     
            <div class="inner">
                <div class ="search-bar">   
                    <img class = "logo" id="ys-logo" src="/images/logo.png" alt=""><br>   
                    <img class = "logo2 slideUp" id="ys-logo-2" src ="https://assets.yemeksepeti.com/assets/Images/logo2.png?v=1530878576856?v=1530878576856">
                    <div id = "area-search-wrapper" >               
                        <select id= "areas" class="area-search-field" placeholder = "Semt Seçiniz">
                                <option place-holder="Tüm restoranlar"></option>
                        </select><button id = "area-search-button" class="fas fa-search glyphicon"></button>
                    </div>
                </div>
            </div>
      </div>
      <div class="highlight"></div>
    <div class="content">      
        <div class="container">
            <div class ="column-left col-md-4">
                <div class="form-block">
                    <div class = "notLogged">
                        <div class="form-area login">                 
                                <form id="formSignup" novalidate>            
                                    <div class="form-group">
                                        <label for = "email" id="label" >Email</label>
                                        <br>
                                        <input type = "email" class="form-control" id="email"  data-error = "false" data-title = "Email" required>                 
                                    </div>                 
                                    <div class="form-group" id = "#pass-group">
                                        <label for  = "password"  id="label" >Şifre:</label>   
                                        <i id="pwdIcon" class="far fa-angry popup signup">
                                            <span class="popuptext" id="pwdInfo">
                                                <small class = "small-error" id = "lovercase"> - Şifre en az 1 küçük harf içermeli. </small>        
                                                <small class = "small-error" id = "uppercase"><br> - Şifre en az 1 Büyük harf içermeli. </small>
                                                <small class = "small-error" id = "numbers"><br> - Şifre en az 1 Sayı içermeli. </small>
                                                <small class = "small-error" id = "pwdLength"><br>-  Şifre en az 8 karakter olmalı. </small>
                                            </span>
                                        </i>
                                        <br> 
                                        <div class= "inner-addon right-addon">       
                                            <i id = "viewPwd" class="fas fa-eye glyphicon signup" ></i>            
                                            <input type = "password" class="form-control " id="password"  data-error = "false" data-title = "Şifre" required > 
                                        </div>  
                                    </div>    
                                    <button type="submit" id = "login" class="btn btn-success tr">Üye Girişi</button>
                                    <div class="seperate" id = "buttonSeperator" > veya </div>
                                    <button type="button" id = "ButtonSignup" class="btn btn-primary tr">Kayıt ol</button>
                                </form>
                        </div>                            
                    </div>
                        
                    <div class = "logged">    
                    </div>
                </div>
                <div class="user-basket">
                    <div class="basket-header">
                            <span>YEMEK SEPETİM</span>
                            <div class ="emptyBasket" style="display:none"> <i class="far fa-trash-alt"></i>
                                <span class="popuptext" id="emptyBasket">Sepeti Boşalt</span>
                            </div>
                    </div>
                    <div class="location"></div>
                    <div class="itemList exists">
                            <table>
                                <tbody class="items">                                
                                </tbody>
                            </table>
                    </div>
                    <div class = "no-item" ><i class="fas fa-shopping-basket"> </i><span>Sepetiniz Boş</span></div>
                    <div class="total exists">
                        <div class ="textTotal ys-pullLeft">
                            <span>Toplam</span>
                        </div>
                        <div class = "totalPrice ys-pullRight">
                            <span class = "ys-pullRight"></span>
                        </div>
                    </div>
                    <div class="actions exists">
                            <button class="sepeti-onayla">SEPETİ ONAYLA</button>
                            <div class="message">
                                
                            </div>
                    </div>
                </div>
            </div>
    
            <div class = "column-right col-md-12">
                {% block content %}{% endblock %}                      
            </div>    
        </div>   
    </div>

    <footer>     
    </footer>

    {% block javascript %}
      <script src="javascripts/app.js"></script>    
    {% endblock %}
  </body>
</html>
